@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;500;600;700&display=swap');

 
  *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }

  html
  {
    scroll-behavior: smooth;
  }
  body
  {
    font-family: 'Montserrat', sans-serif;
  }
  .cards{
    display: flex;
    flex-direction: column;
    gap:29px ;
    width: 15%;
    box-shadow: 0px 2px 9px 9px #f3f0f0;
    padding: 20px;
    border-radius: 8px;
    margin-left: 43%;
    margin-top: 8%;
  }
  .password input{
    height: 35px;
    border-radius: 8px;
  }
  .about{
    cursor: pointer;
    margin-left: 91%;
  }